[package]
name = "glium"
version = "0.3.5"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>"]
description = "High-level and safe OpenGL wrapper."
keywords = ["opengl", "gamedev"]
documentation = "http://tomaka.github.io/glium/glium/index.html"
homepage = "http://tomaka.github.io/glium"
repository = "https://github.com/tomaka/glium"
license = "Apache-2.0"
build = "build/main.rs"
exclude = ["doc", ".travis.yml", "circle.yml"]

[features]
default = ["image", "nalgebra", "cgmath", "gl_read_buffer", "gl_depth_textures"]
gl_read_buffer = []
gl_uniform_blocks = []
gl_sync = []
gl_program_binary = []
gl_tessellation = []
gl_instancing = []
gl_integral_textures = []
gl_depth_textures = []
gl_stencil_textures = []
gl_texture_1d = []
gl_texture_3d = []
gl_texture_multisample = []
gl_texture_multisample_array = []
headless = []

[dependencies.glutin]
version = "0.1.3"
features = ["window"]

[dependencies.cgmath]
version = "0.1.5"
optional = true

[dependencies.nalgebra]
version = "0.2.12"
optional = true

[dependencies.image]
version = "0.3.9"
optional = true

[dependencies]
lazy_static = "0.1"
gl_common = "0.0.4"
libc = "0.1"

[build-dependencies]
gl_generator = "0.0.25"
khronos_api = "0.0.5"

[dev-dependencies]
clock_ticks = "0.0.5"
genmesh = "0.2.1"
obj = "0.2.1"
rand = "0.3"
