[package]
name = "glium"
version = "0.0.2"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>"]
description = "High-level and safe OpenGL wrapper."
keywords = ["opengl", "gamedev"]
documentation = "http://tomaka.github.io/glium-docs/glium/index.html"
license = "Apache"

[features]
default = ["image"]

[dependencies.compile_msg]
git = "https://github.com/huonw/compile_msg"

[dependencies.gl_generator]
git = "http://github.com/bjz/gl-rs"

[dependencies.glutin]
git = "http://github.com/tomaka/glutin"
features = ["window", "headless"]

[dependencies.cgmath]
git = "https://github.com/bjz/cgmath-rs"

#[dependencies.nalgebra]
#git = "https://github.com/sebcrozet/nalgebra"

[dependencies.image]
git = "https://github.com/PistonDevelopers/image"
optional = true

[dev-dependencies.glium_macros]
path = "macros"
version = "*"
